<section class ="section section-top section-full" >
    <div class="container">
       <div class="row">
        <div class="col-6 p-5">
            <h1 class="text-light">Yasas Medagedara</h1>
            <h2 class="text-light">Undergraduate Student</h2>
            <button class="btn btn-lg btn-primary m-2">Download Cv</button>
            <button class="btn btn-lg btn-primary m-2">Reach Me!</button>
            <div class="row mt-3">
                <div class="col social-icons">
                    <i class="bi bi-instagram mx-2 fs-4" ></i>
                    <i class="bi bi-facebook  mx-2 fs-4"></i>
                    <i class="bi bi-linkedin mx-2 fs-4"></i>
                    <i class="bi bi-github mx-2 fs-4"></i>
                 </div>
                
            </div>
        </div>
        <div class="col-6 pt-2">
            <img class="img-fuild w-75 remove-background" src="person1.jpg" alt="">
        </div>
       </div>
    </div>
</section>

