#hero2 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}

.social-icons{
    color: #FFF;
    :hover{
        color: var(--headingColor);
    }
}


