<section class="section section-top section-full mb-5">
    <div class="container-lg">
        <h1 class="text-center heading">About Me</h1>
        <div class="row row-cols-sm-2  d-sm-flex align-content-sm-center align-items-center">
            <div class="col-md-6 d-grid justify-content-center">
                <img class="img-fluid rounded-circle my-img" src="my.png" alt="yasas sri">
            </div>
            <div class="col-md-6 mt-3">
                
                <P class="lead text-light">An undergraduate software engineer. My ambition is to help tech companies with coding, development, bug fixing, troubleshooting and documentation. Through an internship, I aim to contribute to collaborative projects, continuously learn new technologies and best practices, and support various aspects of software development, including unit testing, software maintenance, feature implementation, version control, debugging, deployment support, and customer support. I bring strong time management, problem-solving, communication, adaptability, teamwork, and interpersonal skills, along with experience in graphic design, coding, web development, video editing, and user interface design.</P>
            </div>
        </div>
    </div>

</section>
