<section class="section section-top section-full my-2 vh-100">
    <div class="container">
        <div class="row row-cols-sm-2 justify-content-sm-between align-self-center">
            <div class="col-md-6">
                <img class="img-fluid w-75 h-75 rounded-circle" src="person1.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h1 class="text-center heading">About Me</h1>
                <P class="lead text-light">An undergraduate software engineer. My ambition is to help tech companies with coding, development, bug fixing, troubleshooting and documentation. Through an internship, I aim to contribute to collaborative projects, continuously learn new technologies and best practices, and support various aspects of software development, including unit testing, software maintenance, feature implementation, version control, debugging, deployment support, and customer support. I bring strong time management, problem-solving, communication, adaptability, teamwork, and interpersonal skills, along with experience in graphic design, coding, web development, video editing, and user interface design.</P>
            </div>
        </div>
    </div>

</section>
