<div class="container">
    <h1 class="text-center" style="color: var(--headingColor)">Tech stack</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 bg">
        <div class="col my-2">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <img src="/icon/html.png" alt="" class="icons">
                    <h3 class="card-title text-center text-light">HTML</h3>

                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <img src="/icon/CSS.png" alt="" class="icons">
                    <h3 class="card-title text-center text-light">CSS</h3>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <img src="/icon/boostrap.png" alt="" class="icons">
                    <h3 class="card-title text-center text-light">Boostrap</h3>
                </div>
            </div>
        </div>
        <div class="col my-2 ">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <img src="/icon/JS.png" alt="" class="icons">
                    <h3 class="card-title text-center text-light">JavaScript</h3>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <img src="/icon/angular.png" alt="" class="icons">
                    <h3 class="card-title text-center text-light ">Angular</h3>
                </div>
            </div>
        </div>
        <div class="col my-2 ">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <img src="/icon/springboot.png" alt="" class="icons">
                    <h3 class="card-title text-center text-light">Spring Boot</h3>
                </div>
            </div>
        </div>
    </div>
</div>