<div class="container">
    <h1 class="text-center" style="color: var(--headingColor)">Tech stack</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col my-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">HTML</h3>
                    
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">CSS</h3>
                    
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Boostrap</h3>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">JavaScript</h3>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Angular</h3>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Spring Boot</h3>
                </div>
            </div>
        </div>
    </div>
</div>

