<h1 class="text-center" style="color: var(--headingColor);">My Projects</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2">
        <div class="col my-2">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <h3 class="card-title text-center text-light">Gym font-end </h3>
                    <h5 class="mb-4 text-light">
                        User Interface for a Gym website
                    </h5>
                    <p class="mb-4 text-light">
                        Developed a responsive and user-friendly interface for a gym using Bootstrap, css for styling,Bootstrap Icons for visual elements and using little bit of javascript for animation.
                    </p>
                    <p class="text-secondary fw-semibold">
                        Technologies:  Bootstrap, Bootstrap Icons, Html ,css ,javascript
                    </p>
                    <a class="text-decoration-underline text-center text-warning"
                        href="https://github.com/YasasSri2002/web-site-for-a-gym">View on
                        Github</a>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card bg-dark bg-opacity-50 rounded-4">
                <div class="card-body d-grid justify-content-center">
                    <h3 class="card-title text-center text-light">Employee management backend </h3>
                    <h5 class="mb-4 text-light">
                        API and Server-side Logic for Employee Management
                    </h5>
                    <p class="mb-4 text-light">
                        Built the backend for Employee management system, handling data management and business logic with Spring Boot, Spring Data JPA, and Lombok.
                    </p>
                    <p class="text-secondary fw-semibold">
                        Technologies: Java, Spring Boot, Spring Data JPA, Lombok
                    </p>
                    <a class="text-decoration-underline text-center text-warning"
                        href="https://github.com/YasasSri2002/Employee-backend-system">View on
                        Github</a>
                </div>
            </div>
        </div> 
    </div>
</div>

